# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!Dockerfile

# Ignore Recordings
*.mp3
*.ogg
*.flac
*.aac
rec

# Ignore build
dist/*

# Ignore mdules
node_modules

#Ignore dev specific files
.env
yarn-error.log
.idea
coverage
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
